<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{blocks/head_block :: head}"></th:block>
    <title>Гистограмма выдач книг</title>
</head>
<body>

<header th:insert="~{blocks/header :: header}"></header>

<main style="margin-top: 5%">
    <canvas  id="issueChart" width="400" height="100"></canvas>
</main>

<footer class="container py-5" th:insert="~{blocks/footer :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script th:inline="javascript">
    const labels = /*[[${dates}]]*/ [];
    const dataCounts = /*[[${counts}]]*/ [];

    const ctx = document.getElementById('issueChart').getContext('2d');
    const issueChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels, // Даты
            datasets: [{
                label: 'Количество фильмов',
                data: dataCounts,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
