<!DOCTYPE html>
<html lang="en">
<head >
    <th:block th:insert="~{blocks/head_block :: head}"></th:block>
    <title>Books</title>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>


<div class="container my-5">
    <div class="bg-body-tertiary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Если у вас какие то проблемы, связывайтес с нами по</h1>
            <p class="fs-5"></p>
            <p class="fs-5"> По почте <a href="mailto:elibra@maiul.ru">elibra@maiul.ru</a></p>
            <p class="fs-5">По Телефону 8 999 999 99 99</p>
            <p>График работы Тех Поддрежки Пн-Сб с 9.00 до 22.00</p>
            <!--                <p>-->
            <!--                    <a class="btn btn-primary" href="/docs/5.3/components/navbar/#offcanvas" role="button">Learn more about offcanvas navbars »</a>-->
            <!--                </p>-->
        </div>
    </div>
</div>


<footer class="container py-5" th:insert="~{blocks/footer :: footer}"></footer>


<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>